<app-modal-header title="Cadastrar Profissional"></app-modal-header>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="h5">Contato</div>
      <div class="mb-3">
        <label for="adicionarNome" class="fw-bold">Nome</label>
        <input
          type="text"
          id="inp-add-nome"
          class="form-control"
          [(ngModel)]="newProfissional.contato.nome"
          #nome="ngModel"
          placeholder="Por favor digite o primeiro nome..."
          maxlength="747"
        />
        <div class="form-text">747 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="nome.touched && !newProfissional.contato.nome"
        >
          Por favor digite o primeiro nome do profissional.
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionarSobrenome" class="fw-bold">Sobrenome</label>
        <input
          type="text"
          id="inp-add-sobrenome"
          class="form-control"
          [(ngModel)]="newProfissional.contato.sobrenome"
          #sobrenome="ngModel"
          placeholder="Por favor digite o sobrenome..."
          maxlength="747"
        />
        <div class="form-text">747 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="sobrenome.touched && !newProfissional.contato.sobrenome"
        >
          Por favor digite o primeiro sobrenome do profissional.
        </div>
      </div>
      <div class="mb-3">
        <!-- Required, Max 11, Must be Unique-->
        <!-- TODO: Add a Database Check to make sure this is unique -->
        <label for="adicionarCpf" class="fw-bold">CPF</label>
        <input
          type="text"
          id="inp-add-cpf"
          class="form-control"
          [(ngModel)]="newProfissional.contato.cpf"
          #cpf="ngModel"
          placeholder="Por favor digite o CPF..."
          maxlength="11"
        />
        <div class="form-text">
          <ul>
            <li>
              <span> Requirido </span>
            </li>
            <li>
              <span> 11 caracteres máximos</span>
            </li>
          </ul>
        </div>
        <div
          class="text-danger font-italic"
          *ngIf="cpf.touched && !newProfissional.contato.cpf"
        >
          Por favor digite o CPF do profissional.
        </div>
      </div>
      <div class="mb-3">
        <!-- Required, Max 11, Must be Unique-->
        <label for="adicionarTelefone" class="fw-bold">Telefone</label>
        <input
          type="text"
          id="inp-add-telefone"
          class="form-control"
          [(ngModel)]="newProfissional.contato.telefone"
          #telefone="ngModel"
          placeholder="Por favor digite o número de telefone..."
          maxlength="32"
        />
        <div class="form-text">32 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="telefone.touched && !newProfissional.contato.telefone"
        >
          Por favor digite o número de telefone do profissional.
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="h5">Endereço</div>
      <div class="mb-3">
        <label for="adicionarRua" class="fw-bold">Rua</label>
        <input
          type="text"
          id="inp-add-rua"
          class="form-control"
          [(ngModel)]="newProfissional.endereco.rua"
          #rua="ngModel"
          placeholder="Por favor digite a rua..."
          maxlength="64"
        />
        <div class="form-text">64 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="rua.touched && !newProfissional.endereco.rua"
        >
          Por favor digite a rua.
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionarComplemento" class="fw-bold">Complemento</label>
        <input
          type="text"
          id="inp-add-complemento"
          class="form-control"
          [(ngModel)]="newProfissional.endereco.complemento"
          #complemento="ngModel"
          placeholder="Por favor digite a comp..."
          maxlength="64"
        />
        <div class="form-text">64 caracteres máximos</div>
      </div>
      <!-- TODO: Find a way to auto fill information based on the CEP -->
      <!-- This is like a ZIP code in the U.S.-->
      <div class="mb-3">
        <label for="adicionarCep" class="fw-bold">CEP</label>
        <input
          type="text"
          id="inp-add-cep"
          class="form-control"
          [(ngModel)]="newProfissional.endereco.cep"
          #cep="ngModel"
          placeholder="Por favor digite o CEP..."
          maxlength="8"
        />
        <div class="form-text">8 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="cep.touched && !newProfissional.endereco.cep"
        >
          Por favor digite o CEP.
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionarEstado" class="fw-bold">Estado</label>
        <select
          class="form-select"
          name="unitOfMeasure"
          id="select-add-estado"
          [(ngModel)]="newProfissional.endereco.estado"
          #estado="ngModel"
        >
          <option [ngValue]="'' || null || undefined">
            Por favor escolha um estado.
          </option>
          <option *ngFor="let estado of estados" [ngValue]="estado">
            {{ estado }}
          </option>
        </select>
        <div
          class="text-danger font-italic"
          *ngIf="estado.touched && !newProfissional.endereco.estado"
        >
          Por favor escolha um estado.
        </div>
      </div>
      <div class="mb-3">
        <!-- Longest City name in the world has 85 chars-->
        <label for="adicionarCidade" class="fw-bold">Cidade</label>
        <input
          type="text"
          id="inp-add-comp"
          class="form-control"
          [(ngModel)]="newProfissional.endereco.cidade"
          #cidade="ngModel"
          placeholder="Por favor digite a cidade..."
          maxlength="85"
        />
        <div class="form-text">85 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="cidade.touched && !newProfissional.endereco.cidade"
        >
          Por favor digite a cidade.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="h5">Informação Geral</div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="mb-3">
        <label for="adicionarRg" class="fw-bold">RG</label>
        <input
          type="text"
          id="inp-add-rg"
          class="form-control"
          [(ngModel)]="newProfissional.rg"
          #rg="ngModel"
          placeholder="Por favor digite o RG..."
          maxlength="32"
        />
        <div class="form-text">32 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="rg.touched && !newProfissional.rg"
        >
          Por favor digite o RF.
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionarPix" class="fw-bold">PIX</label>
        <input
          type="text"
          id="inp-add-pix"
          class="form-control"
          [(ngModel)]="newProfissional.pix"
          #pix="ngModel"
          placeholder="Por favor digite o PIX..."
          maxlength="32"
        />
        <div class="form-text">32 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="pix.touched && !newProfissional.pix"
        >
          Por favor digite o PIX.
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="mb-3">
        <label for="adicionarPis" class="fw-bold">PIS</label>
        <input
          type="text"
          id="inp-add-pis"
          class="form-control"
          [(ngModel)]="newProfissional.pis"
          #pis="ngModel"
          placeholder="Por favor digite o PIS..."
          maxlength="32"
        />
        <div class="form-text">32 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="pis.touched && !newProfissional.pis"
        >
          Por favor digite o PIS.
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionarObservacoes" class="fw-bold">Observações</label>
        <textarea
          type="text"
          id="inp-add-observacoes"
          class="form-control"
          [(ngModel)]="newProfissional.observacoes"
          #observacoes="ngModel"
          placeholder="Por favor digite Observações..."
          maxlength="500"
        ></textarea>
        <div class="form-text">500 caracteres máximos</div>
        <div
          class="text-danger font-italic"
          *ngIf="observacoes.touched && !newProfissional.observacoes"
        >
          Por favor digite Observações.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span class="font-italic text-danger" [hidden]="isAddValid()">
    Por favor, preencha os campos obrigatórios.
  </span>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="modalService.closeModal()"
  >
    Fechar
  </button>
  <button
    type="submit"
    class="btn btn-success"
    (click)="onAdd()"
    [hidden]="!isAddValid()"
  >
    <fa-icon class="me-2 biggerIcon" icon="save"></fa-icon>
    Salvar
  </button>
</div>
