<div>
  <div class="h5">Contato</div>
  <div class="mb-3">
    <!-- Required, Max 11, Must be Unique-->
    <!-- In Order to call the Government's API, the Birthdate is also required along with the CPF -->
    <label for="inp-cpf" class="fw-bold">CPF</label>
    <span
      *ngIf="
        !!adminContato.cpf && adminContato.cpf.length > 0 && isCpfUnique;
        else unavailable
      "
      class="text-success ms-2"
    >
      <fa-icon icon="check"></fa-icon>
      Disponível
    </span>
    <ng-template #unavailable>
      <span
        class="text-danger ms-2"
        *ngIf="!!adminContato.cpf && adminContato.cpf.length > 0"
      >
        <fa-icon icon="times"></fa-icon>
        Indisponível
      </span>
    </ng-template>
    <input
      type="text"
      id="inp-cpf"
      class="form-control"
      [(ngModel)]="adminContato.cpf"
      (ngModelChange)="onChange()"
      (input)="onCpfInput($event.target)"
      #cpf="ngModel"
      placeholder="Por favor digite o CPF..."
      aria-label="inp-cpf"
      minlength="14"
      maxlength="14"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 11 caracteres</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cpf.touched && !adminContato.cpf"
    >
      Por favor digite o CPF do profissional.
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cpf.touched && !!adminContato.cpf && adminContato.cpf.length < 14"
    >
      Por favor digite CPF completo. Tem que ser 11 caracteres.
    </div>
  </div>
  <!-- Required -->
  <div class="mb-3">
    <label
      [hidden]="!adminContato.dataDeNascimento"
      for="date-picker-data-de-nascimento"
      class="fw-bold"
    >
      Data de Nascimento
    </label>
    <app-date-picker-input
      [calendarText]="'Data de Nascimento'"
      [(datePicked)]="adminContato.dataDeNascimento"
      (datePickedChange)="dataDeNascimentoTouched = true; onChange()"
      id="date-picker-data-de-nascimento"
      aria-label="date-picker-data-de-nascimento"
    ></app-date-picker-input>
    <div class="form-text">Requirido</div>
    <div
      class="text-danger font-italic"
      *ngIf="dataDeNascimentoTouched && !adminContato.dataDeNascimento"
    >
      Por favor escolha a data de nascimento do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="inp-nome" class="fw-bold">Nome</label>
    <input
      type="text"
      id="inp-nome"
      class="form-control"
      [(ngModel)]="adminContato.nome"
      (ngModelChange)="onChange()"
      #nome="ngModel"
      placeholder="Por favor digite o primeiro nome..."
      aria-label="inp-nome"
      maxlength="100"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 100 caracteres máximos</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="nome.touched && !adminContato.nome"
    >
      Por favor digite o primeiro nome do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="inp-sobrenome" class="fw-bold">Sobrenome</label>
    <input
      type="text"
      id="inp-sobrenome"
      class="form-control"
      aria-label="inp-sobrenome"
      [(ngModel)]="adminContato.sobrenome"
      (ngModelChange)="onChange()"
      #sobrenome="ngModel"
      placeholder="Por favor digite o sobrenome..."
      maxlength="100"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 100 caracteres máximos</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="sobrenome.touched && !adminContato.sobrenome"
    >
      Por favor digite o primeiro sobrenome do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="inp-email" class="fw-bold">Email</label>
    <input
      type="text"
      id="inp-email"
      class="form-control"
      [(ngModel)]="adminContato.email"
      (ngModelChange)="onChange()"
      #nome="ngModel"
      placeholder="Por favor digite o email..."
      aria-label="inp-email"
      maxlength="100"
    />
    <div class="form-text">256 caracteres máximos</div>
  </div>
  <div class="mb-3">
    <label for="inp-telefone" class="fw-bold">Telefone</label>
    <div class="input-group">
      <select
        class="form-select mw20"
        name="ddd"
        id="select-ddd"
        aria-label="select-ddd"
        [(ngModel)]="adminContato.dddId"
        (ngModelChange)="onChange()"
        #ddd="ngModel"
      >
        <option [ngValue]="0">DDD</option>
        <option *ngFor="let ddd of ddds" [ngValue]="ddd.id">
          {{ ddd.numeroDeDdd }}
        </option>
      </select>
      <input
        type="text"
        id="inp-telefone"
        class="form-control"
        aria-label="inp-telefone"
        [(ngModel)]="adminContato.telefone"
        (ngModelChange)="onChange()"
        #telefone="ngModel"
        placeholder="Por favor digite o número de telefone..."
        maxlength="9"
      />
    </div>
    <div class="form-text">9 caracteres máximos</div>
  </div>
  <div class="mb-3">
    <label for="inp-profissao" class="fw-bold">Profissão</label>
    <input
      type="text"
      id="inp-profissao"
      aria-label="inp-profissao"
      class="form-control"
      [(ngModel)]="adminContato.profissao"
      (ngModelChange)="onChange()"
      #profissao="ngModel"
      placeholder="Por favor digite a profissão..."
      maxlength="64"
    />
    <div class="form-text">64 caracteres máximos</div>
  </div>
  <div class="mb-3">
    <label for="select-sexo" class="fw-bold">Sexo</label>
    <div class="input-group">
      <select
        class="form-select"
        name="select-sexo"
        id="select-sexo"
        aria-label="select-sexo"
        [(ngModel)]="adminContato.sexoId"
        (ngModelChange)="onChange()"
        #sexo="ngModel"
      >
        <option [ngValue]="0">Sexo</option>
        <option *ngFor="let sexo of sexos" [ngValue]="sexo.id">
          {{ sexo.tipo }}
        </option>
      </select>
    </div>
    <div class="form-text">Requirido</div>
    <div
      class="text-danger font-italic"
      *ngIf="sexo.touched && adminContato.sexoId === 0"
    >
      Por favor escolha o sexo do profissional.
    </div>
  </div>
</div>
