<div>
  <div class="h5">Contato</div>
  <div class="mb-3">
    <!-- Required, Max 11, Must be Unique-->
    <!-- TODO: Add a Database Check to make sure this is unique -->
    <label for="adicionarCpf" class="fw-bold">CPF</label>
    <input
      type="text"
      id="inp-add-cpf"
      class="form-control"
      [(ngModel)]="adminContato.cpf"
      (input)="onCpfInput($event.target)"
      #cpf="ngModel"
      placeholder="Por favor digite o CPF..."
      minlength="14"
      maxlength="14"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 11 caracteres</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cpf.touched && !adminContato.cpf"
    >
      Por favor digite o CPF do profissional.
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cpf.touched && !!adminContato.cpf && adminContato.cpf.length < 14"
    >
      Por favor digite CPF completo. Tem que ser 11 caracteres.
    </div>
  </div>
  <div class="mb-3">
    <label for="adicionarNome" class="fw-bold">Nome</label>
    <input
      type="text"
      id="inp-add-nome"
      class="form-control"
      [(ngModel)]="adminContato.nome"
      #nome="ngModel"
      placeholder="Por favor digite o primeiro nome..."
      maxlength="100"
    />
    <div class="form-text">100 caracteres máximos</div>
    <div
      class="text-danger font-italic"
      *ngIf="nome.touched && !adminContato.nome"
    >
      Por favor digite o primeiro nome do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="adicionarSobrenome" class="fw-bold">Sobrenome</label>
    <input
      type="text"
      id="inp-add-sobrenome"
      class="form-control"
      [(ngModel)]="adminContato.sobrenome"
      #sobrenome="ngModel"
      placeholder="Por favor digite o sobrenome..."
      maxlength="100"
    />
    <div class="form-text">100 caracteres máximos</div>
    <div
      class="text-danger font-italic"
      *ngIf="sobrenome.touched && !adminContato.sobrenome"
    >
      Por favor digite o primeiro sobrenome do profissional.
    </div>
  </div>
  <div class="mb-3">
    <!-- Required, Max 11, Must be Unique-->
    <label for="adicionarTelefone" class="fw-bold">Telefone</label>
    <input
      type="text"
      id="inp-add-telefone"
      class="form-control"
      [(ngModel)]="adminContato.telefone"
      #telefone="ngModel"
      placeholder="Por favor digite o número de telefone..."
      maxlength="32"
    />
    <div class="form-text">32 caracteres máximos</div>
    <div
      class="text-danger font-italic"
      *ngIf="telefone.touched && !adminContato.telefone"
    >
      Por favor digite o número de telefone do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="adicionarProfissao" class="fw-bold">Profissão</label>
    <input
      type="text"
      id="inp-add-profissao"
      class="form-control"
      [(ngModel)]="adminContato.profissao"
      #profissao="ngModel"
      placeholder="Por favor digite a profissão..."
      maxlength="64"
    />
    <div class="form-text">64 caracteres máximos</div>
    <div
      class="text-danger font-italic"
      *ngIf="profissao.touched && !adminContato.profissao"
    >
      Por favor digite a profissão.
    </div>
  </div>
</div>
