<div>
  <div class="h5">Contato</div>
  <div class="mb-3">
    <!-- Required, Max 11, Must be Unique-->
    <!-- In Order to call the Government's API, the Birthdate is also required along with the CPF-->
    <label for="input-cpf" class="fw-bold">CPF</label>
    <input
      type="text"
      id="inp-cpf"
      class="form-control"
      [(ngModel)]="adminContato.cpf"
      (ngModelChange)="onChange()"
      (input)="onCpfInput($event.target)"
      #cpf="ngModel"
      placeholder="Por favor digite o CPF..."
      aria-label="input-cpf"
      minlength="14"
      maxlength="14"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 11 caracteres</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cpf.touched && !adminContato.cpf"
    >
      Por favor digite o CPF do profissional.
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cpf.touched && !!adminContato.cpf && adminContato.cpf.length < 14"
    >
      Por favor digite CPF completo. Tem que ser 11 caracteres.
    </div>
  </div>
  <div class="mb-3">
    <label
      [hidden]="!adminContato.dataDeNascimento"
      for="date-picker-data-de-nascimento"
      class="fw-bold"
    >
      Data de Nascimento
    </label>
    <app-date-picker-input
      [calendarText]="'Data de Nascimento'"
      [(datePicked)]="adminContato.dataDeNascimento"
      (datePickedChange)="onChange()"
      id="date-picker-data-de-nascimento"
      aria-label="date-picker-data-de-nascimento"
    ></app-date-picker-input>
  </div>
  <div class="mb-3">
    <label for="input-nome" class="fw-bold">Nome</label>
    <input
      type="text"
      id="inp-nome"
      class="form-control"
      [(ngModel)]="adminContato.nome"
      (ngModelChange)="onChange()"
      #nome="ngModel"
      placeholder="Por favor digite o primeiro nome..."
      aria-label="input-nome"
      maxlength="100"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 100 caracteres máximos</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="nome.touched && !adminContato.nome"
    >
      Por favor digite o primeiro nome do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="input-sobrenome" class="fw-bold">Sobrenome</label>
    <input
      type="text"
      id="inp-sobrenome"
      class="form-control"
      aria-label="input-sobrenome"
      [(ngModel)]="adminContato.sobrenome"
      (ngModelChange)="onChange()"
      #sobrenome="ngModel"
      placeholder="Por favor digite o sobrenome..."
      maxlength="100"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 100 caracteres máximos</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="sobrenome.touched && !adminContato.sobrenome"
    >
      Por favor digite o primeiro sobrenome do profissional.
    </div>
  </div>
  <div class="mb-3">
    <label for="input-telefone" class="fw-bold">Telefone</label>
    <div class="input-group">
      <select
        class="form-select mw20"
        name="ddd"
        id="select-ddd"
        aria-label="select-ddd"
        [(ngModel)]="adminContato.ddd"
        (ngModelChange)="onChange()"
        #estado="ngModel"
      >
        <option [ngValue]="'' || null || undefined">DDD</option>
        <option *ngFor="let ddd of ddds" [ngValue]="ddd">
          {{ ddd }}
        </option>
      </select>
      <input
        type="text"
        id="inp-telefone"
        class="form-control"
        aria-label="input-telefone"
        [(ngModel)]="adminContato.telefone"
        (ngModelChange)="onChange()"
        #telefone="ngModel"
        placeholder="Por favor digite o número de telefone..."
        maxlength="32"
      />
    </div>
    <div class="form-text">32 caracteres máximos</div>
  </div>
  <div class="mb-3">
    <label for="input-profissao" class="fw-bold">Profissão</label>
    <input
      type="text"
      id="inp-profissao"
      aria-label="input-profissao"
      class="form-control"
      [(ngModel)]="adminContato.profissao"
      (ngModelChange)="onChange()"
      #profissao="ngModel"
      placeholder="Por favor digite a profissão..."
      maxlength="64"
    />
    <div class="form-text">64 caracteres máximos</div>
  </div>
</div>
