<div class="go-back">
  <app-go-back
    [routePath]="'/admin'"
    pageTitle="Profissionais de Rodeio Configurações"
  ></app-go-back>
</div>
<app-search
  (searchFor)="onSearch($event)"
  [searchDisplay]="{
    searchTextColumns: 'col-sm-12 col-md-8',
    dateFilterColumns: 'col-sm-12 col-md-4',
    searchTextPlaceholder: 'Pesquise profissionais de rodeio...'
  }"
></app-search>
<div class="pt-1 h100p flex-col">
  <div class="d-inline-flex mb-3">
    <button
      class="btn btn-success me-3"
      (click)="modalService.openModalXL(cadastrarProfissional)"
    >
      <fa-icon icon="plus" class="me-2"></fa-icon>
      Cadastrar
    </button>
    <div class="h5">{{ totalDeProfissionais }} Profissionais de Rodeio</div>
  </div>
  <div class="table-responsive scrollbarContent flex-111 tableHeaderFixed">
    <table
      class="table table-striped"
      *ngIf="
        adminProfissionals &&
          adminProfissionals.length > 0 &&
          !isLoading &&
          !isUserPaging;
        else noProfissionais
      "
    >
      <thead class="table-dark">
        <tr>
          <th scope="col">{{ adminProfissionals.length }} Linhas</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Contato</th>
          <th scope="col">Endereço</th>
          <th scope="col">Informações Gerais</th>
          <th scope="col">Datas</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let adminProfissional of adminProfissionals"
          app-profissionais-de-rodeio-row
          [adminProfissional]="adminProfissional"
          (deletedId)="onRowRemoved($event)"
          (rowChange)="onRowChanges($event)"
        ></tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    *ngIf="
      totalDeProfissionais > 0 &&
      adminProfissionals &&
      adminProfissionals.length > 0
    "
    [totalCollectionSize]="totalDeProfissionais"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>

<ng-template #noProfissionais>
  <app-not-found-message
    [isLoading]="isLoading"
    name="Profissionais de Rodeio"
  ></app-not-found-message>
</ng-template>

<ng-template #cadastrarProfissional let-modal>
  <app-cadastro
    (newProfissionalAdded)="onProfissionalAdded($event)"
  ></app-cadastro>
</ng-template>
