<div class="go-back">
  <app-go-back
    [routePath]="'/admin'"
    pageTitle="Professionais de Rodeio Configurações"
  ></app-go-back>
</div>
<div class="pt-1 h100p flex-col">
  <div>
    <div class="d-inline-flex mb-3">
      <button
        class="btn btn-success me-3"
        (click)="openModal(cadastrarProfissional)"
      >
        <fa-icon icon="plus" class="me-2"></fa-icon>
        Add
      </button>
      <div class="h5">{{ totalDeProfissionais }} Profissionais de Rodeio</div>
    </div>
  </div>
  <div class="table-responsive scrollbarContent flex-111 tableHeaderFixed">
    <table
      class="table table-striped"
      *ngIf="
        profissionaisDeRodeio &&
          profissionaisDeRodeio.length > 0 &&
          !isLoading &&
          !isUserPaging;
        else noProfissionais
      "
    >
      <thead class="table-dark">
        <tr>
          <th scope="col">{{ profissionaisDeRodeio.length }} Linhas</th>
          <th scope="col"></th>
          <th scope="col">Contato</th>
          <th scope="col">Endereco</th>
          <th scope="col">Informação Geral</th>
          <th scope="col">Adicionado</th>
          <th scope="col">Mudado</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let profissionalDeRodeio of profissionaisDeRodeio"
          app-profissionais-de-rodeio-row
          [profissionalDeRodeio]="profissionalDeRodeio"
          (deletedId)="onRowRemoved($event)"
          (rowChange)="onRowChanges($event)"
        ></tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    *ngIf="
      totalDeProfissionais > 0 &&
      profissionaisDeRodeio &&
      profissionaisDeRodeio.length > 0
    "
    [totalCollectionSize]="totalDeProfissionais"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>

<ng-template #noProfissionais>
  <app-not-found-message
    [isLoading]="isLoading"
    name="Profissionais de Rodeio"
  ></app-not-found-message>
</ng-template>

<ng-template #cadastrarProfissional let-modal>
  <app-modal-header title="Cadastrar Profissional"></app-modal-header>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="h5">Contato</div>
        <div class="mb-3">
          <label for="adicionarNome">Nome</label>
          <input
            type="text"
            id="question"
            class="form-control"
            [(ngModel)]="newProfissional.contato.nome"
            #contatoNome="ngModel"
            placeholder="Please type in a question..."
            maxlength="747"
          />
          <div
            class="text-danger font-italic"
            *ngIf="contatoNome.touched && !newProfissional.contato.nome"
          >
            Please type in a question.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span class="font-italic text-danger" [hidden]="isAddValid()">
      Please fill in the required fields.
    </span>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
    <button
      type="submit"
      class="btn btn-success"
      (click)="onAdd()"
      [hidden]="!isAddValid()"
    >
      <fa-icon class="me-2 biggerIcon" icon="save"></fa-icon>
      Save
    </button>
  </div>
</ng-template>
