<div class="h5">Informações Gerais</div>
<div class="mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <label for="inp-ativo" class="fw-bold">Ativo?</label>
      <app-yes-no-switcher
        aria-label="inp-ativo"
        id="inp-ativo"
        [(yesNo)]="adminProfissional.ativo"
        (yesNoChange)="onChange()"
      ></app-yes-no-switcher>
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="inp-sindicalizado" class="fw-bold">Sindicalizado?</label>
      <app-yes-no-switcher
        aria-label="inp-sindicalizado"
        id="inp-sindicalizado"
        [yesNo]="adminProfissional.sindicalizado"
        (yesNoChange)="
          adminProfissional.sindicalizado = $event;
          onSindicalizadoChange($event);
          onChange()
        "
      ></app-yes-no-switcher>
    </div>
  </div>
</div>
<!-- This must be unique -->
<div class="mb-3">
  <app-required-icon></app-required-icon>
  <label for="select-profissionalType" class="fw-bold">
    Tipo de Profissional
  </label>
  <div class="input-group">
    <select
      class="form-select"
      name="select-profissionalType"
      id="select-profissionalType"
      aria-label="select-profissionalType"
      [(ngModel)]="adminProfissional.profissionalTypeId"
      (ngModelChange)="onChange()"
      #profissionalType="ngModel"
    >
      <option [ngValue]="0">Por favor escolha um tipo...</option>
      <option
        *ngFor="let profissionalType of profissionalTypes"
        [ngValue]="profissionalType.id"
      >
        {{ profissionalType.tipo }}
      </option>
    </select>
  </div>
  <div class="form-text">Requirido</div>
  <div
    class="text-danger font-italic"
    *ngIf="
      profissionalType.touched && adminProfissional.profissionalTypeId === 0
    "
  >
    Por favor escolha o tipo do profissional.
  </div>
</div>
<div class="mb-3">
  <label for="inp-pis" class="fw-bold">PIS</label>
  <input
    type="text"
    id="inp-pis"
    class="form-control"
    [(ngModel)]="adminProfissional.pis"
    (ngModelChange)="onChange()"
    #pis="ngModel"
    placeholder="Por favor digite o PIS..."
    maxlength="11"
    aria-label="inp-pis"
  />
  <div class="form-text">11 caracteres máximos</div>
</div>
<!-- Max Chars depends on the state-->
<div class="mb-3">
  <label for="inp-comp" class="fw-bold">RG</label>
  <input
    type="text"
    id="inp-comp"
    class="form-control"
    [(ngModel)]="adminProfissional.rg"
    (ngModelChange)="onChange()"
    #rg="ngModel"
    placeholder="Por favor digite o RG..."
    maxlength="32"
    aria-label="inp-comp"
  />
  <div class="form-text">32 caracteres máximos</div>
</div>
<!-- This will be unique -->
<div class="mb-3">
  <label for="inp-pix" class="fw-bold">PIX</label>
  <input
    type="text"
    id="inp-pix"
    class="form-control"
    [(ngModel)]="adminProfissional.pix"
    (ngModelChange)="onChange()"
    #pix="ngModel"
    placeholder="Por favor digite o PIX..."
    maxlength="32"
    aria-label="inp-pix"
  />
  <div class="form-text">32 caracteres máximos</div>
</div>
<div class="mb-3">
  <label for="inp-observacoes" class="fw-bold">Observações</label>
  <textarea
    type="text"
    id="inp-observacoes"
    class="form-control"
    [(ngModel)]="adminProfissional.observacoes"
    (ngModelChange)="onChange()"
    #observacoes="ngModel"
    placeholder="Por favor digite Observações..."
    maxlength="500"
    aria-label="inp-observacoes"
  ></textarea>
  <div class="form-text">500 caracteres máximos</div>
</div>
