<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="h5">Informações Gerais</div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="mb-3">
      <label for="inp-ativo" class="fw-bold">Ativo?</label>
      <app-yes-no-switcher
        [(yesNo)]="adminProfissional.ativo"
      ></app-yes-no-switcher>
    </div>
    <div class="mb-3">
      <label for="inp-comp" class="fw-bold">RG</label>
      <input
        type="text"
        id="inp-comp"
        class="form-control"
        [(ngModel)]="adminProfissional.rg"
        #rg="ngModel"
        placeholder="Por favor digite o RG..."
        maxlength="32"
        aria-label="inp-comp"
      />
      <div class="form-text">32 caracteres máximos</div>
      <div
        class="text-danger font-italic"
        *ngIf="rg.touched && !adminProfissional.rg"
      >
        Por favor digite o RF.
      </div>
    </div>
    <div class="mb-3">
      <label for="inp-pix" class="fw-bold">PIX</label>
      <input
        type="text"
        id="inp-pix"
        class="form-control"
        [(ngModel)]="adminProfissional.pix"
        #pix="ngModel"
        placeholder="Por favor digite o PIX..."
        maxlength="32"
        aria-label="inp-pix"
      />
      <div class="form-text">32 caracteres máximos</div>
      <div
        class="text-danger font-italic"
        *ngIf="pix.touched && !adminProfissional.pix"
      >
        Por favor digite o PIX.
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="mb-3">
      <label for="inp-sindicalizado" class="fw-bold">Sindicalizado?</label>
      <app-yes-no-switcher
        [yesNo]="adminProfissional.sindicalizado"
        (yesNoChange)="
          adminProfissional.sindicalizado = $event;
          onSindicalizadoChange($event)
        "
      ></app-yes-no-switcher>
    </div>
    <div class="mb-3">
      <label for="inp-pis" class="fw-bold">PIS</label>
      <input
        type="text"
        id="inp-pis"
        class="form-control"
        [(ngModel)]="adminProfissional.pis"
        #pis="ngModel"
        placeholder="Por favor digite o PIS..."
        maxlength="32"
        aria-label="inp-pis"
      />
      <div class="form-text">32 caracteres máximos</div>
      <div
        class="text-danger font-italic"
        *ngIf="pis.touched && !adminProfissional.pis"
      >
        Por favor digite o PIS.
      </div>
    </div>
    <div class="mb-3">
      <label for="inp-observacoes" class="fw-bold">Observações</label>
      <textarea
        type="text"
        id="inp-observacoes"
        class="form-control"
        [(ngModel)]="adminProfissional.observacoes"
        #observacoes="ngModel"
        placeholder="Por favor digite Observações..."
        maxlength="500"
        aria-label="inp-observacoes"
      ></textarea>
      <div class="form-text">500 caracteres máximos</div>
      <div
        class="text-danger font-italic"
        *ngIf="observacoes.touched && !adminProfissional.observacoes"
      >
        Por favor digite Observações.
      </div>
    </div>
  </div>
</div>
