<th scope="row">
  <app-save-button
    [dataRequest]="onPreSave.bind(this)"
    (dataRequestResult)="onSaved($event)"
    *ngIf="isRowValid()"
    #saveBtn
  ></app-save-button>
</th>
<th scope="row">
  <button type="button" class="btn btn-danger" (click)="onDelete()">
    <fa-icon icon="trash-alt" class="me-2"></fa-icon>
    Excluir
  </button>
</th>
<th scope="row">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modalService.openModalXL(editContato)"
  >
    <fa-icon icon="edit" class="me-2"></fa-icon>
    Editar {{ profissionalDeRodeio.contato.nome }}
    {{ profissionalDeRodeio.contato.sobrenome }}
  </button>
</th>
<th scope="row">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modalService.openModalXL(editEndereco)"
  >
    <fa-icon icon="edit" class="me-2"></fa-icon>
    Editar
  </button>
</th>
<th scope="row">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modalService.openModalXL(editInformacoesGerais)"
  >
    <fa-icon icon="edit" class="me-2"></fa-icon>
    Editar
  </button>
</th>
<td>
  {{ getFormattedDate(profissionalDeRodeio.criado) }}
</td>
<td>
  {{ getFormattedDate(profissionalDeRodeio.mudado) }}
</td>

<ng-template #editContato let-modal>
  <app-edit-admin-contato
    [(adminContato)]="profissionalDeRodeio.contato"
  ></app-edit-admin-contato>
</ng-template>

<ng-template #editEndereco let-modal>
  <app-edit-admin-endereco
    [profissionalNomeCompleto]="
      profissionalDeRodeio.contato.nome +
      ' ' +
      profissionalDeRodeio.contato.sobrenome
    "
    [(adminEndereco)]="profissionalDeRodeio.endereco"
  ></app-edit-admin-endereco>
</ng-template>

<ng-template #editInformacoesGerais let-modal>
  <app-edit-admin-informacoes-gerais
    [(adminProfissional)]="profissionalDeRodeio"
  ></app-edit-admin-informacoes-gerais>
</ng-template>
