<th scope="row">
  <app-save-button
    [dataRequest]="onPreSave.bind(this)"
    (dataRequestResult)="onSaved($event)"
    *ngIf="isRowValid()"
    #saveBtn
  ></app-save-button>
</th>
<th scope="row">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="onRevertChanges()"
    *ngIf="showRevertChanges()"
  >
    <fa-icon icon="rotate-left" class="me-2"></fa-icon>
    Reverter mudanças
  </button>
</th>
<th scope="row">
  <button type="button" class="btn btn-danger" (click)="onDelete()">
    <fa-icon icon="trash-alt" class="me-2"></fa-icon>
    Excluir
  </button>
</th>
<th scope="row">
  <button
    type="button"
    [ngClass]="getEditBtnClass(contatoEditType)"
    (click)="modalService.openModalXL(editContato)"
  >
    <fa-icon icon="edit" class="me-2"></fa-icon>
    {{ getEditMessage(contatoEditType) }}
  </button>
</th>
<th scope="row">
  <button
    type="button"
    [ngClass]="getEditBtnClass(enderecoEditType)"
    (click)="modalService.openModalXL(editEndereco)"
  >
    <fa-icon icon="edit" class="me-2"></fa-icon>
    {{ getEditMessage(enderecoEditType) }}
  </button>
</th>
<th scope="row">
  <button
    type="button"
    [ngClass]="getEditBtnClass(informacoesGeraisEditType)"
    (click)="modalService.openModalXL(editInformacoesGerais)"
  >
    <fa-icon icon="edit" class="me-2"></fa-icon>
    {{ getEditMessage(informacoesGeraisEditType) }}
  </button>
</th>
<td>
  <div>
    <fa-icon icon="calendar-alt" class="me-2"></fa-icon>
    <span class="fw-bold">Adicionado: </span>
    <span> {{ getFormattedDate(adminProfissional.criado) }}</span>
  </div>
  <div *ngIf="!isMinDate(adminProfissional.modificado)">
    <fa-icon icon="calendar-alt" class="me-2"></fa-icon>
    <span class="fw-bold">Modificado: </span>
    <span> {{ getFormattedDate(adminProfissional.modificado) }}</span>
  </div>
</td>

<ng-template #editContato let-modal>
  <app-edit-admin-contato
    [(adminContato)]="adminProfissional.contato"
    (isFormValid)="
      isContatoValid = $event;
      isContatoChanged = true;
      onUpdateSaveBtn(changedState)
    "
  ></app-edit-admin-contato>
</ng-template>

<ng-template #editEndereco let-modal>
  <app-edit-admin-endereco
    [profissionalNomeCompleto]="getProfissionalFullname()"
    [(adminEndereco)]="adminProfissional.endereco"
    (isFormValid)="
      isEnderecoValid = $event;
      isEnderecoChanged = true;
      onUpdateSaveBtn(changedState)
    "
  ></app-edit-admin-endereco>
</ng-template>

<ng-template #editInformacoesGerais let-modal>
  <app-edit-admin-informacoes-gerais
    [(adminProfissional)]="adminProfissional"
    (isFormValid)="
      isInformacoesGeraisValid = $event;
      isInformacoesGeraisChanged = true;
      onUpdateSaveBtn(changedState)
    "
  ></app-edit-admin-informacoes-gerais>
</ng-template>
