<div class="toastStyle">
  <ngb-toast
    *ngFor="let toast of filteredToasts"
    [ngClass]="toastService.getToastBgClass(toast.toast.type)"
    [autohide]="true"
    [delay]="toast.toast.delay || 5000"
    (hide)="onHideToast(toast)"
  >
    <ng-template ngbToastHeader>
      <fa-icon
        style="font-size: 1.25rem !important"
        [ngClass]="['me-2', toastService.getToastTextClass(toast.toast.type)]"
        [icon]="toastService.getToastIcon(toast.toast.type)"
      ></fa-icon>
      <strong class="mx-1">
        {{ toast.toast.httpStatusCode }} -
        {{ toast.toast.header }}
      </strong>
    </ng-template>
    <div
      style="font-size: 1rem"
      [ngClass]="{
        'd-inline-flex': true,
        'text-capitalize': toast.toast.type === errorType
      }"
    >
      <div
        [innerHTML]="toast.toast.body"
        [ngClass]="{
          'text-wrap': true,
          'text-dark': toast.toast.type === warningType,
          'text-light': toast.toast.type !== warningType
        }"
      ></div>
    </div>
    <div class="pt-2">
      <ngb-progressbar
        *ngIf="toast.toast.type === warningType; else progressBar"
        type="dark"
        [value]="toast.timer.timeLeft"
        height=".5rem"
      ></ngb-progressbar>
      <ng-template #progressBar>
        <ngb-progressbar
          type="warning"
          [value]="toast.timer.timeLeft"
          height=".5rem"
        ></ngb-progressbar>
      </ng-template>
    </div>
  </ngb-toast>
</div>
