<div class="h100p flex-col bg-secondary">
  <div class="text-center">
    <div class="p-4 bg-warning text-dark card-text">
      <span class="fs-5 text-underline"><fa-icon icon="exclamation-triangle" class="text-dark me-2"></fa-icon>Under Construction </span>
      <div>
        <span class="fs-6 fw-bold">We are working on getting this feature out as soon as possible.</span>
      </div>
    </div>
  </div>
  <div class="flex-col scrollbarContent">
    <!-- This img is free of charge and free to use -->
    <img src="/assets/images/under-construction.jpg" alt="Under Construction Img" class="img-fluid" />
  </div>
</div>
