<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom px-2"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="/assets/images/company-logo.png"
        class="companyLogo-navbrand"
        alt=""
      />
    </a>
    <!-- Hamburger Menu Button-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngbCollapse]="isNavbarCollapsed"
    >
      <div class="row align-items-center w-100">
        <div class="col-xs-12 col-md-11"></div>
        <div class="col-xs-12 col-md-1">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                [ngClass]="{
                  'nav-link': true,
                  active: activeRoute === '/home'
                }"
                aria-current="page"
                routerLink="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                [ngClass]="{
                  'nav-link': true,
                  active: activeRoute === '/admin'
                }"
                routerLink="/admin"
                >Admin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
