<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom px-2 container-padding"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="/assets/images/company-logo.png"
        class="companyLogo-navbrand"
        alt=""
      />
    </a>
    <!-- Hamburger Menu Button-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngbCollapse]="isNavbarCollapsed"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            [ngClass]="{
              'nav-link': true,
              active: activeRoute === '/pagina-inicial'
            }"
            aria-current="page"
            routerLink="/pagina-inicial"
          >
            Página Inicial
          </a>
        </li>
        <li class="nav-item">
          <a
            [ngClass]="{
              'nav-link': true,
              active: activeRoute === '/configuracoes'
            }"
            routerLink="/configuracoes"
          >
            Configurações
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
