<div>
  <div class="h5">Endereço</div>
  <!-- This is like a ZIP code in the U.S.-->
  <div class="mb-3">
    <label for="inp-cep" class="fw-bold">CEP</label>
    <input
      type="text"
      id="inp-cep"
      class="form-control"
      [(ngModel)]="adminEndereco.cep"
      (ngModelChange)="onChange()"
      (input)="onCepInput($event.target)"
      #cep="ngModel"
      placeholder="Por favor digite o CEP..."
      aria-label="inp-cep"
      maxlength="9"
    />
    <div class="form-text">
      <ul>
        <li>
          <span> Requirido </span>
        </li>
        <li>
          <span> 8 caracteres</span>
        </li>
      </ul>
    </div>
    <div
      class="text-danger font-italic"
      *ngIf="cep.touched && !adminEndereco.cep"
    >
      Por favor digite o CEP.
    </div>
  </div>
  <div class="mb-3" [hidden]="hideAddressForm()">
    <label for="inp-rua" class="fw-bold">Rua</label>
    <input
      type="text"
      id="inp-rua"
      class="form-control"
      [(ngModel)]="adminEndereco.rua"
      (ngModelChange)="onChange()"
      #rua="ngModel"
      placeholder="Por favor digite a rua..."
      maxlength="64"
      aria-label="inp-rua"
    />
    <div class="form-text">64 caracteres máximos</div>
  </div>
  <div class="mb-3" [hidden]="hideAddressForm()">
    <label for="inp-complemento" class="fw-bold">Complemento</label>
    <input
      type="text"
      id="inp-complemento"
      class="form-control"
      [(ngModel)]="adminEndereco.complemento"
      (ngModelChange)="onChange()"
      #complemento="ngModel"
      placeholder="Por favor digite o complemento..."
      maxlength="64"
      aria-label="inp-complemento"
    />
    <div class="form-text">64 caracteres máximos</div>
  </div>
  <div class="mb-3" [hidden]="hideAddressForm()">
    <label for="inp-bairro" class="fw-bold">Bairro</label>
    <input
      type="text"
      id="inp-bairro"
      class="form-control"
      [(ngModel)]="adminEndereco.bairro"
      (ngModelChange)="onChange()"
      #bairro="ngModel"
      placeholder="Por favor digite o bairro..."
      maxlength="120"
      aria-label="inp-bairro"
    />
    <div class="form-text">120 caracteres máximos</div>
  </div>
  <div class="mb-3" [hidden]="hideAddressForm()">
    <!-- Longest City name in the world has 85 chars-->
    <label for="inp-comp" class="fw-bold">Cidade</label>
    <input
      type="text"
      id="inp-comp"
      class="form-control"
      [(ngModel)]="adminEndereco.cidade"
      (ngModelChange)="onChange()"
      #cidade="ngModel"
      placeholder="Por favor digite a cidade..."
      maxlength="85"
      aria-label="inp-comp"
    />
    <div class="form-text">85 caracteres máximos</div>
  </div>
  <div class="mb-3" [hidden]="hideAddressForm()">
    <label for="select-estado" class="fw-bold">Estado</label>
    <select
      class="form-select"
      name="estado"
      id="select-estado"
      [(ngModel)]="adminEndereco.estadoId"
      (ngModelChange)="onChange()"
      #estado="ngModel"
      aria-label="select-estado"
    >
      <option [ngValue]="0">Por favor escolha um estado.</option>
      <option *ngFor="let estado of estados" [ngValue]="estado.id">
        {{ estado.uf }} - {{ estado.nome }}
      </option>
    </select>
  </div>
</div>
