<div id="background">
  <img src="/assets/images/rodeo.jpg" class="stretch" alt="" />
</div>
<div class="text-dark text-center w-100 top-page-text text-padding">
  <span class="fs-4 text-underline">
    COORDENAÇÃO-GERAL DE REGISTRO SINDICAL DESPACHOS DE 1º DE FEVEREIRO DE 2021
  </span>
  <div>
    <span class="fs-5 fw-bold">
      O Coordenador-Geral de Registro Sindical, no uso das sua atribuições
      legais, e com fundamento na Nota Técnica SEI nº 4146/2021/ME (SEI
      13353326), resolve: DEFERIR o registro sindical ao SINDICATO DOS
      PROFISSIONAIS DE RODEIO DO ESTADO DE GOIÁS - SINPROEGO, CNPJ
      12.223.584/0001-43, Processo 08015.002416/2019-23, para representar a
      Categoria Profissional de Peões de Rodeio, Auxiliares de Manutenção e
      montagem de estrutura metálica das Apresentações de Rodeio, Domadores,
      Juízes, Locutores e comentaristas de Rodeio, Laçadores, Madrinheiros e
      Salva-Vidas, Portereiros, Assessores de Rodeio, Produtores e Coreógrafos
      nas Arenas de Rodeio, com abrangência Estadual e base territorial no
      Estado de Goiás, nos termos do art. 21, inciso I, da Portaria
      17.593/2020..</span
    >
  </div>
</div>
