<div class="flex-col">
  <h5>
    COORDENAÇÃO-GERAL DE REGISTRO SINDICAL DESPACHOS DE 1º DE FEVEREIRO DE 2021
  </h5>
  <p>
    O Coordenador-Geral de Registro Sindical, no uso das sua atribuições legais,
    e com fundamento na Nota Técnica SEI nº 4146/2021/ME (SEI 13353326),
    resolve: DEFERIR o registro sindical ao SINDICATO DOS PROFISSIONAIS DE
    RODEIO DO ESTADO DE GOIÁS - SINPROEGO, CNPJ 12.223.584/0001-43, Processo
    08015.002416/2019-23, para representar a Categoria Profissional de Peões de
    Rodeio, Auxiliares de Manutenção e montagem de estrutura metálica das
    Apresentações de Rodeio, Domadores, Juízes, Locutores e comentaristas de
    Rodeio, Laçadores, Madrinheiros e Salva-Vidas, Portereiros, Assessores de
    Rodeio, Produtores e Coreógrafos nas Arenas de Rodeio, com abrangência
    Estadual e base territorial no Estado de Goiás, nos termos do art. 21,
    inciso I, da Portaria 17.593/2020.
  </p>
</div>
